<!--继承block-->
<extend name="Block/base"/>
<block name="content">

<div id="content" class="span10">
	<ul class="breadcrumb">
		<li> <i class="icon-home"></i>
			<a href="index.html">控制台</a> <i class="icon-angle-right"></i>
		</li>
		<li>
			<a href="#">后台首页</a>
		</li>
		<!-- <li>欢迎登录物管鱼台后台管理</li> -->
	</ul>
		<h1 align="center">欢迎登录物管云台后台管理</h1>
		<div class="row-fluid">

				<a class="quick-button metro yellow span2">
					<i class="icon-group"></i>
					<p>物业小区数量</p>
					<span class="badge">237</span>
				</a>
				<a class="quick-button metro blue span2">
					<i class="icon-group"></i>
					<p>业主数量</p>
					<span class="badge">237</span>
				</a>
				<a class="quick-button metro red span2">
					<i class="icon-comments-alt"></i>
					<p>评论</p>
					<span class="badge">46</span>
				</a>
				<!-- <a class="quick-button metro blue span2">
					<i class="icon-shopping-cart"></i>
					<p>订单</p>
					<span class="badge">13</span>
				</a> -->
				<!-- <a class="quick-button metro green span2">
					<i class="icon-barcode"></i>
					<p>产品</p>
				</a> -->
				<a class="quick-button metro pink span2">
					<i class="icon-envelope"></i>
					<p>消息</p>
					<span class="badge">88</span>
				</a>
				<a class="quick-button metro black span2">
					<i class="icon-calendar"></i>
					<p>日历</p>
				</a>

				<div class="clearfix"></div>

			</div>
</div>
</block>