<block name="sidebar-left">
	<div id="sidebar-left" class="span2">
		<div class="nav-collapse sidebar-nav">
			<ul class="nav nav-tabs nav-stacked main-menu">
				<li>
					<a href="<{:U('Index/index')}>"> <i class="icon-bar-chart"></i>
						<span class="hidden-tablet">控制台</span>
					</a>
				</li>
				<!--
						<li>
				<a href="messages.html"> <i class="icon-envelope"></i>
					<span class="hidden-tablet">Messages</span>
				</a>
			</li>
			<li>
				<a href="tasks.html">
					<i class="icon-tasks"></i>
					<span class="hidden-tablet">Tasks</span>
				</a>
			</li>
			<li>
				<a href="ui.html">
					<i class="icon-eye-open"></i>
					<span class="hidden-tablet">UI Features</span>
				</a>
			</li>
			<li>
				<a href="widgets.html">
					<i class="icon-dashboard"></i>
					<span class="hidden-tablet">Widgets</span>
				</a>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-folder-close-alt"></i>
					<span class="hidden-tablet">Dropdown</span>
					<span class="label label-important">3</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="submenu.html">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">Sub Menu 1</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="submenu2.html">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">Sub Menu 2</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="submenu3.html">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">Sub Menu 3</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="form.html">
					<i class="icon-edit"></i>
					<span class="hidden-tablet">Forms</span>
				</a>
			</li>
			<li>
				<a href="chart.html">
					<i class="icon-list-alt"></i>
					<span class="hidden-tablet">Charts</span>
				</a>
			</li>
			<li>
				<a href="typography.html">
					<i class="icon-font"></i>
					<span class="hidden-tablet">Typography</span>
				</a>
			</li>
			<li>
				<a href="gallery.html">
					<i class="icon-picture"></i>
					<span class="hidden-tablet">Gallery</span>
				</a>
			</li>
			-->
			<li>
				<a class="dropmenu" href="#"> <i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">小区管理</span>
					<!-- <span class="label label-important">3</span>-->
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Estate/index')}>
							"> <i class="icon-file-alt"></i>
							<span class="hidden-tablet">小区列表</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="<{:U('Estate/add')}>
							">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">添加小区</span>
						</a>
					</li>
					<!-- <li>
					<a class="submenu" href="<{:U('Estate/inter')}>
						">
						<i class="icon-file-alt"></i>
						<span class="hidden-tablet">接口实例</span>
					</a>
				</li>
				-->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">商品分类管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Category/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">商品分类列表</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="<{:U('Category/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">添加商品分类</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">商品管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Goods/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">商品列表</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="#">
						<!-- <a class="submenu" href="<{:U('Goods/add')}>"> -->
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">添加商品</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">用户管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('User/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">用户列表</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="<{:U('User/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">添加用户</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">轮播图管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Carousel/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">轮播图列表</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="<{:U('Carousel/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">添加轮播图</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">评论管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Comment/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">评论列表</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">收藏管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Collection/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">收藏列表</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">收货地址管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Address/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">收货地址列表</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">订单管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Order/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">订单列表</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">售后管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Aftersale/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">售后列表</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="icon-align-justify icon-folder-close-alt"></i>
					<span class="hidden-tablet">承运管理</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="<{:U('Express/index')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">承运列表</span>
						</a>
					</li>
					<!-- <li>
						<a class="submenu" href="<{:U('Goods/add')}>">
							<i class="icon-file-alt"></i>
							<span class="hidden-tablet">回收站</span>
						</a>
					</li> -->
				</ul>
			</li>
		<!-- <li>
		<a href="calendar.html">
			<i class="icon-calendar"></i>
			<span class="hidden-tablet">Calendar</span>
		</a>
	</li>
	<li>
		<a href="file-manager.html">
			<i class="icon-folder-open"></i>
			<span class="hidden-tablet">File Manager</span>
		</a>
	</li>
	<li>
		<a href="icon.html">
			<i class="icon-star"></i>
			<span class="hidden-tablet">Icons</span>
		</a>
	</li>
	-->
</ul>
</div>
</div>
</block>