<!-- 继承Block -->
<extend name="Block:base" />
<block name="content">
	<div id="content" class="span10">

		<ul class="breadcrumb">
			<li> <i class="icon-home"></i>
				<a href="index.html">控制台</a> <i class="icon-angle-right"></i>
			</li>
			<li>
				<a href="#">小区账号列表</a>
			</li>
		</ul>

		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header" data-original-title>
					<h2>
						<i class="halflings-icon user"></i>
						<span class="break"></span>
						小区账号列表
					</h2>
					<div class="box-icon">
						<a href="#" class="btn-setting">
							<i class="halflings-icon wrench"></i>
						</a>
						<a href="#" class="btn-minimize">
							<i class="halflings-icon chevron-up"></i>
						</a>
						<a href="#" class="btn-close">
							<i class="halflings-icon remove"></i>
						</a>
					</div>
				</div>
				<div class="box-content">
					<table class="table table-striped table-bordered bootstrap-datatable datatable">
						<!-- <a href="#">
						<i class="halflings-icon">添加</i>
					</a>
					-->
					<a class="btn btn-success" href="__URL__/add">添加账号</a>
					<br />
					<br />
					<thead>
						<tr>
							<th>邀请码</th>
							<th>账号</th>
							<th>密码</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="communitys" item="community">
							<tr>
								<td class="center"><{$community.propertyid}></td>
								<td class="center"><{$community.tel}></td>
								<td class="center"><{$community.password}></td>
								<td class="center">
									<!-- <a class="btn btn-info" href="<{:U('Estate/modify',array('id'=>
									$estate['id']))}>"> -->
									<!-- <a class="green" href="__URL__/modify/id/<{$estate['id']}>">
									-->
									<a class="btn btn-info" href="__URL__/modify/id/<{$community.id}>">
										修改
										<!-- <i class="halflings-icon white edit"></i>
									-->
								</a>
								<a class="btn btn-danger" href="__URL__/del/id/<{$community.id}>">
									删除
									<!-- <i class="halflings-icon white trash"></i>
								-->
							</a>
						</td>
					</tr>
				</foreach>
			</tbody>
		</table>
	</div>
</div>
<!--/span-->

</div>
<!--/row-->

</div>
</block>