<block name="sidebar-left">
	<div id="sidebar-left" class="span2">
		<div class="nav-collapse sidebar-nav">
			<ul class="nav nav-tabs nav-stacked main-menu">
				<li>
					<a href="<{:U('Index/index')}>"> <i class="icon-bar-chart"></i>
						<span class="hidden-tablet">控制台</span>
					</a>
				</li>


				<li>
					<a class="dropmenu" href="#">
						<i class="icon-align-justify icon-folder-close-alt"></i>
						<span class="hidden-tablet">管理菜单模板</span>
					</a>
					<ul>
						<li>
							<a class="submenu" href="<{:U('Notice/index')}>">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">模板列表</span>
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a class="dropmenu" href="#">
						<i class="icon-align-justify icon-folder-close-alt"></i>
						<span class="hidden-tablet">商品管理</span>
					</a>
					<ul>
						<li>
							<a class="submenu" href="<{:U('Goods/index')}>">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">商品列表</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="<{:U('Goods/add')}>">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">添加商品</span>
							</a>
						</li>
					</ul>
				</li>

















































			<!--
				<li>
					<a class="dropmenu" href="#"> <i class="icon-align-justify icon-folder-close-alt"></i>
						<span class="hidden-tablet">物业报修管理</span>
					</a>
					<ul>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">报修订单（待处理）</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">报修订单（已处理）</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">报修订单（已完成）</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="dropmenu" href="#">
						<i class="icon-align-justify icon-folder-close-alt"></i>
						<span class="hidden-tablet">车位管理</span>
					</a>
					<ul>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">车位图</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="dropmenu" href="#">
						<i class="icon-align-justify icon-folder-close-alt"></i>
						<span class="hidden-tablet">物业缴费</span>
					</a>
					<ul>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">小区列表</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">tp接口实例</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">添加小区</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="dropmenu" href="#">
						<i class="icon-align-justify icon-folder-close-alt"></i>
						<span class="hidden-tablet">公告管理</span>
					</a>
					<ul>
						<li>
							<a class="submenu" href="<{:U('Notice/index')}>">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">公告列表</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="dropmenu" href="#">
						<i class="icon-align-justify icon-folder-close-alt"></i>
						<span class="hidden-tablet">员工管理</span>
					</a>
					<ul>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">工程师账号</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">工程师评价</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">保安账号</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="dropmenu" href="#">
						<i class="icon-align-justify icon-folder-close-alt"></i>
						<span class="hidden-tablet">社区商家管理</span>
					</a>
					<ul>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">便利店</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">美食外卖</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">订奶送水</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">诊所药店</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">废品回收</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">快递</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">宽带维修</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">有线电视维修</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">家用电器维修</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">开锁换锁</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">修车洗车</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">修鞋改衣</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">干洗店</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">搬家公司</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">家政中介</span>
							</a>
						</li>
						<li>
							<a class="submenu" href="#">
								<i class="icon-file-alt"></i>
								<span class="hidden-tablet">房屋出租</span>
							</a>
						</li>

					</ul>
				</li>
			 --></ul>
		</div>
	</div>
</block>