<!-- 继承Block -->
<extend name="Block/base"/>
<block name="content">
	<div id="content" class="span10">

		<ul class="breadcrumb">
			<li> <i class="icon-home"></i>
				<a href="index.html">控制台</a> <i class="icon-angle-right"></i>
			</li>
			<li>
				<i class="icon-edit"></i>
				<a href="#">修改轮播图</a>
			</li>
		</ul>

		<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon edit"></i><span class="break"></span>修改轮播图</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal" action="<{:U('Carousel/update')}>" method="post" enctype="multipart/form-data">
						<input type="hidden" value="<{$carousels['id']}>" name="id" />
						  <fieldset>
							<div class="control-group">
							  <label class="control-label" for="typeahead">标题</label>
							  <div class="controls">
								<input type="text" name="title" value="<{$carousels['title']}>" class="span6 typeahead">
							  </div>
							</div>
							<div class="control-group">
							  <label class="control-label" for="typeahead">跳转链接</label>
							  <div class="controls">
								<input type="text" name="url" value="<{$carousels['url']}>" class="span6 typeahead">
							  </div>
							</div>
							<div class="control-group">
							  <label class="control-label" for="typeahead">是否启用</label>
							  <div class="controls">
								<input type="radio" name="is_enable" value="0" class="span6 typeahead" checked>不启用
								<input type="radio" name="is_enable" value="1" class="span6 typeahead">启用
							  </div>
							</div>
							<div class="control-group">
								<label class="control-label" for="fileInput">修改轮播图</label>
								<div class="controls">
									<img src="__PUBLIC__/Admin/Uploads/<{$carousels.img}>" height="80" width="80">
									<input class="input-file uniform_on" id="fileInput" type="file" name="img" >
								</div>
								</div>
							<div class="form-actions">
							  <button type="submit" class="btn btn-primary">修改</button>
							  <button type="reset" class="btn">取消</button>
							</div>
						  </fieldset>
						</form>

					</div>
				</div><!--/span-->

			</div>
		<!--/row-->

	</div>
</block>