<!-- 继承Block -->
<extend name = "Block:base"/>
<block name="content">
	<div id="content" class="span10">

		<ul class="breadcrumb">
			<li> <i class="icon-home"></i>
				<a href="index.html">控制台</a> <i class="icon-angle-right"></i>
			</li>
			<li>
				<i class="icon-edit"></i>
				<a href="#">Forms</a>
			</li>
		</ul>

		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header" data-original-title>
					<h2>
						<i class="halflings-icon edit"></i>
						<span class="break"></span>
						修改小区列表
					</h2>
					<div class="box-icon">
						<a href="#" class="btn-setting">
							<i class="halflings-icon wrench"></i>
						</a>
						<a href="#" class="btn-minimize">
							<i class="halflings-icon chevron-up"></i>
						</a>
						<a href="#" class="btn-close">
							<i class="halflings-icon remove"></i>
						</a>
					</div>
				</div>
				<div class="box-content">
					<form class="form-horizontal" action="<{:U('Estate/update')}>" method="post"  enctype="multipart/form-data" >
						<input type="hidden" value="<{$estates['id']}>" name="id" />
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="typeahead">邀请码</label>
								<div class="controls">
									<input type="text" name="propertyid" value="<{$estates['propertyid']}>" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4">
									<!-- <p class="help-block">Start typing to activate auto complete!</p>
								-->
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">小区名称</label>
							<div class="controls">
								<input type="text" name="name" value="<{$estates['name']}>" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4">
								<!-- <p class="help-block">Start typing to activate auto complete!</p>
							-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="typeahead">电话</label>
						<div class="controls">
							<input type="text" name="tel" value="<{$estates['tel']}>" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4">
							<!-- <p class="help-block">Start typing to activate auto complete!</p>
						-->
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="typeahead">小区地址</label>
					<div class="controls">
						<input type="text" name="address" value="<{$estates['address']}>" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4">
						<!-- <p class="help-block">Start typing to activate auto complete!</p>
					-->
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="fileInput">原图1</label>
				<div class="controls">
					<img src="__PUBLIC__/Admin/Uploads/<{$estates.img1}>" height="80" width="80">
					<input class="input-file uniform_on" id="fileInput" type="file" name="img1" ></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="fileInput">原图2</label>
				<div class="controls">
					<img src="__PUBLIC__/Admin/Uploads/<{$estates.img2}>" height="80" width="80">
					<input class="input-file uniform_on" id="fileInput" type="file" name="img2" ></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="fileInput">原图3</label>
				<div class="controls">
					<img src="__PUBLIC__/Admin/Uploads/<{$estates.img3}>" height="80" width="80">
					<input class="input-file uniform_on" id="fileInput" type="file" name="img3" ></div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">修改</button>
				<!-- <button type="reset" class="btn">取消</button>
			-->
		</div>
	</fieldset>
</form>

</div>
</div>
<!--/span-->

</div>
<!--/row-->

</div>
</block>